body {
  margin: 0;
  padding: 0;
  background-color: #000000;
}

.logo img {
  max-width: 100vw;
}

.logo-container {
  height: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

header {
  background-color: black;
  margin-top: 2rem;
  margin-bottom: -2rem;
}

.shape {
  background-color: blue;
  height: 100px;
  width: 100px;
  clip-path: polygon(
    40% 8%,
    75% 0,
    100% 14%,
    100% 70%,
    100% 100%,
    50% 100%,
    21% 100%,
    0 100%,
    0 15%,
    15% 10%
  );
}

.mapboxgl-popup-content {
  background-color: #92cee2;
  color: black;
  font-size: 1rem;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: #92cee2;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-bottom-color: #92cee2;
}

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: #92cee2;
}

.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: #92cee2;
}

.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  border-bottom-color: #92cee2;
}

.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
  border-top-color: #92cee2;
}

.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip {
  border-bottom-color: #92cee2;
}

.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip {
  border-top-color: #92cee2;
}

@keyframes popup {
  from {
    top: 100%;
  }
  to {
    top: 73%;
  }
}

@media (max-width: 720px) {
  .mapboxgl-popup {
    all: unset;
    position: relative;
    animation-name: popup;
    animation-duration: 1s;
    top: 73%;
    text-align: center;
  }
  .mapboxgl-popup-content {
    height: 100%;
  }
  .mapboxgl-popup-tip {
    display: none;
  }
}
