#colorInfo {
  display: flex;
  flex-direction: column;

  color: white;
  font-family: "Quicksand-Regular";
  font-size: 15px;
}

.box-one,
.box-two,
.box-three {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}

.all-water-info {
  background-color: bla;
  height: 100%;
  width: 100%;
}

#map {
  width: 100%;
  height: 30rem;
  /* display: flex; */
  position: absolute;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 4rem;
}

.hidden {
  display: none;
}

.one,
.two,
.three {
  height: 20px;
  width: 20px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.one {
  background-color: #ff8811;
}

.two {
  background-color: #f4d06f;
}

.three {
  background-color: #98473e;
}

.button-and-colors {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-direction: row;
  padding-bottom: 0.5rem;
}

.button {
  background-color: #92cee2;
  margin-top: 1.9rem;
  cursor: pointer;
  padding: 0.4rem;
  color: black;
  justify-content: space-between;
  transition: 0.4s;
}

.button:hover {
  background-color: #2b2d5c;
  color: white;
}

@media screen and (min-width: 1024px) {
  .one,
  .two,
  .three {
    height: 50px;
    width: 50px;

    border-radius: 50%;
  }

  #colorInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 25px;
  }
  .box-one,
  .box-two,
  .box-three {
    margin: 20px;
  }

  .button {
    padding: 1rem;
    font-size: 25px;
    margin-bottom: 2rem;
    margin-top: 0;
  }

  .button-and-colors {
    flex-direction: column;
    align-items: center;
  }
}
